<main class="container-md min-h-100 d-flex flex-column align-items-center py-4 text-center">
  <section class="ui-component flex-fill d-flex flex-column align-items-center justify-content-evenly text-center">
    <section>
      <h1 class="title display-0 gradient-underline mb-4">Bart's Hits</h1>
      <p class="welcome-message fs-2">
        Gefeliciteerd met je 30e verjaardag!
      </p>
      <p class="welcome-message fs-5">
        Speciaal voor jou hebben we Bart’s Hits gemaakt: 
        een knallende mix van jouw favoriete muziek en nummers die je hele leven (1995–2025) kleuren.
        Techno-bangers, tijdloze classics, Nederlandse rap, guilty pleasures.
      </p>
      <p class="welcome-message fs-5">
        Alles wat jij graag draait op feestjes en waar we samen herinneringen aan hebben.
      </p>
      <p class="welcome-message fs-5">
        Scan de QR-code, start het spel en stap in jouw muzikale tijdreis. Laat de platen draaien, zing mee, dans en beleef het samen met ons.
      </p>
      <p class="welcome-message fs-5">
        Fijne verjaardag Bart – dit is jouw soundtrack! 🎶🥳
      </p>
    </section>

    <%= link_to "Inloggen met Spotify (Premium)", spotify_login_path, class: "btn btn-success" %>
  </section>
</main>