<div class="page <%= page.side %>">
  <div class="cards-grid">
    <% page.cards.each do |song| %>
      <% if page.side == :front %>
        <%= render 'playlists/card_front', song: song %>
      <% else %>
        <%= render 'playlists/card_back', song: song %>
      <% end %>
    <% end %>
  </div>
</div>